{% extends "base.html" %}

{% block title %}TeSonic Test Management{% endblock %}

{% block page_content %}
<div class="jumbotron">
    <h1>Hello, {% if current_user.is_authenticated %}{{ current_user.username }}{% else %}Visitor{% endif %}!</h1>
    <p>Welcome to TeSonic, a prototype of an open-source test management platform. </p>
    <p> The local date and time is {{ moment(current_time).format('LLL') }}. </p>
    <p> That was {{ moment(current_time).fromNow(refresh=True) }} </p>
    <div class="container">

    </div>
    <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
    <br>
    <br>
</div>
<br><br>
{% endblock %}
